#version: 0.3
BEGIN_GPU_SELECTION;
GpuPresetLevel;
VRAM;
END_GPU_SELECTION;
BEGIN_DRIVER_REJECTION;
END_DRIVER_REJECTION;
BEGIN_GPU_SETTINGS;
END_GPU_SETTINGS;
BEGIN_USER_SETTINGS;
END_USER_SETTINGS;
